.app-sidebar__user-avatar {
    width: 60px;
	align-items: left;
}
.logohead{
    width: 50px;
}
.app-sidebar__toggle{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15pt;
}
.app-sidebar__toggle::before{
	display: none;
}
.headerRegister{
	background: #28a745;
	color: #FFF;
}
.headerUpdate{
	background: #007bff;
	color: #FFF;
}

.header-primary{
	background: #009688;
	color: #FFF;
}

.header-info{
	background: #5e74f0;
	color: #FFF;
}
.notBlock{
	display: none;
}
/*Estilos login*/
#divLoading{
	position:fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254, 254,255, .65);
	z-index: 9999;
	display: none;

}

#divLoading img{
	width: 50px;
	height: 50px;
}

.required{
	color: red;
	font-size: 13pt;
	font-weight: bold;
}

.upimg, .notblock{
	display: none !important;
}

.textcenter{
	text-align: center;
}

.textright{
	text-align: right;
}

.textleft{
	text-align: left;
}
/* Upload fotos*/
#containerImages{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
#containerImages > div{
	margin-right: 10px;
	margin-bottom: 8px;
}
.prevImage{
	border: 1px solid #CCC;
	width: 120px;
	height: 148px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.prevImage img{
	width: 100%;
}
.inputUploadfile{
	display: none;
}
.btnUploadfile, .btnDeleteImage{
	border: 0;
	background-color: #009688;
	text-align: center;
	padding: 2px 3px;
	color: #FFF;
	font-size: 9pt;
	cursor: pointer;
	width: 100%;
}
.btnDeleteImage{
	background-color: #dc3545;
}
.prevImage .loading{
	width: 30px;
	height: 30px;
}
#celFotos img{
	width: 150px;
	margin: 10px;
}
